NEXT_PUBLIC_SUPABASE_URL=https://tnrvwnuwvusoygoaouob.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_fb92xg30nleiwJnL1-9_5w_YdDqdDad
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRucnZ3bnV3dnVzb3lnb2FvdW9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0OTU2ODQsImV4cCI6MjEwNjA3MTY4NH0.3Px5w87egWv5QHSXl77eIyj0TjgTxHAs8uGfct_jYWU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRucnZ3bnV3dnVzb3lnb2FvdW9iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDQ5NTY4NCwiZXhwIjoyMTA2MDcxNjg0fQ.RLO-9iKB288mqYj55etG3pcP3KCyU9LthLmQubi1G7M
SANITY_PROJECT_ID=bm7f4mkz
SANITY_DATASET=production
SANITY_API_TOKEN=skkcmmm6eeIWHItPQB9SFUKeFTVk5uRYbLn687A0JtFSxgH9iRiExc2N9xB3vCJzeKMQGpGUNjGDmqN5NNiJPnwaPYAo6g1Vwd4RBx3WOX2qZ290QluBoIWMXmYiX653N6TDjNJm7HKhScZQpwofi4qSx8LqPYNtN2Clk8l6v6SJdpBZJyHy
ADMIN_EMAILS=owner@example.com,staff@example.com
NEXT_PUBLIC_BRAND_NAME=STOLE STUDIO
ORDER_NOTIFICATION_EMAIL=orders@example.com
GMAIL_USER=orders@example.com
GMAIL_APP_PASSWORD=your-google-app-password


# SANITY API CONFIGURATION
# NEXT_PUBLIC_SANITY_DATASET="production"
# NEXT_PUBLIC_SANITY_PROJECT_ID="bm7f4mkz"
# SANITY_API_TOKEN="skkcmmm6eeIWHItPQB9SFUKeFTVk5uRYbLn687A0JtFSxgH9iRiExc2N9xB3vCJzeKMQGpGUNjGDmqN5NNiJPnwaPYAo6g1Vwd4RBx3WOX2qZ290QluBoIWMXmYiX653N6TDjNJm7HKhScZQpwofi4qSx8LqPYNtN2Clk8l6v6SJdpBZJyHy"
